.div-forgot-password{
    width: 100%;
    background-color: #00337C;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    position: relative;
    display: flex;
}
.div-forgot-center > .Voltar {
    width: 30px;
    height: 30px;
    top: 0px;
    left: 50px;
    display: flex;
    transform: translateX(0px);
    position: absolute;

}
.div-forgot-center > .Voltar > svg{
    width: 30px;
    height: 30px;
    top: 30px;
    left: 0px;
    display: flex;
    position: relative;

}

.formulario-forgot-password > h4{
    width: 300px;
    margin: auto;
    border: none;
    box-shadow: none;
    text-align: left;
    font-size: 15px;
    padding: 10px 0px;
}

.div-forgot-password-center{
    width: 400px;
    padding: 0px;
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color:#fff;
    border-radius: 10px;
}

.div-forgot-password-image{

    width: 200px;
    padding: 0px;
    height: 80px;
    position: relative;
    display: flex;
    margin: auto;
    top: 0px;
    background-color: #fff;
    border: 1px solid #fff;
}

.div-forgot-password-image > img{

    width: 60px;
    padding: 0px;
    height: 60px;
    position: relative;
    display: flex;
    margin: auto;
    top:10px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: none;

}

.formulario-forgot-password{
    width: 400px;
    padding: 0px;
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    border-radius: 10px;

}

.formulario-forgot-password > label{
    width: 300px;
    position: relative;
    display: flex;
    margin: 5px auto;
    flex-direction: column;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.formulario-forgot-password > label > input{
    width: 300px;
    display: flex;
    margin: 5px auto;
    flex-direction: column;
    padding: 7px 0px;
    border-radius: 5px;

}


.formulario-forgot-password > button{
    width: 130px;
    display: flex;
    margin: 5px auto;
    flex-direction: column;
    padding: 10px 0px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    top: -2px;

}
.formulario-forgot-password > button > b{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    width: 125px;
    text-align: center;

}
