.Galery{
    width: 100%;
    margin: auto;
    min-height: 700px;
}

.Galery > .carrossel-livro{
    width: 1100px;
    margin: auto;
    min-height: 700px;
    position: relative;

}

.carrossel-livro-destaque{
    width: 1200px;
    margin: auto;
    min-height: 700px;
    top: 70px;
    position: relative;

}
.carrossel-filmes-destaque{
    width: 1200px;
    margin: auto;
    min-height: 700px;
    top: 70px;
    position: relative;

}

.carrossel-livro-destaque .Voltar> svg{
    width: 30px;
    height: 30px;
    top: 30px;
    position: relative;
}

.Galery > .caixaLivros{
    width: 1200px;
    margin: auto;
}

.Galery > .caixaFilmes{
    width: 1200px;
    margin: auto;
}

.Galery > .caixaLivros > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
}


.Galery > .caixaFilmes-div{
    width: 1200px;
    margin: auto;
    top: 100px;
    position: relative;
    min-height: 2600px;
}

.Galery > .caixaFilmes-div > div{
    width: 1200px;
    height: 500px;
    margin: 20px 0px;
    margin: auto;
    top: 50px;

}
